* {
    margin: 0;
    padding: 0%;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

p {
    text-align: justify;
    margin-top: 20px;
}

p {
    text-align: center;
}

img {
    width: 100%;
}

.container {
    background-color: bisque;
    width: 90%;
    margin: 1rem auto;
    padding: 3%;
    border: 5px solid;
    border-radius: 20px;

}

h3 {
    color: #D95B43;
    text-align: center;
}

.contenedor {
    background-color: rgba(181, 228, 250, 0.842);
}

li {
    justify-content: start;
    margin: 1rem;
}

h2 {
    color: blue;
    text-align: left;

}


td {
    color: rgb(7, 7, 7);
}
#izquierda
{
    text-align: left;
}